@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
}
.container {
  max-width: 1280px !important;
  margin: 0 auto !important;
  margin: 0;
  padding: 0 20px;
  left: 0;
  box-sizing: border-box;
}
